<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-nav" class="navbar-brand">Dashboard</div>

        <ul class="menu-bar">
            <li> <a *ngIf="_authenticationService.isUserLoggedIn()" [routerLink]="['/employee/list']">Home</a></li>
            <li><a *ngIf="_authenticationService.isUserLoggedIn()" [routerLink]="['/employee/add']" clsss="nav-link">Add
                    Employee</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!_authenticationService.isUserLoggedIn()" [routerLink]="['/login']" clsss="nav-link">LogIn</a>
            </li>


            <li><a *ngIf="_authenticationService.isUserLoggedIn()" [routerLink]="['/logout']"
                    clsss="nav-link">LogOut</a></li>
        </ul>
    </nav>
</header>