<div class="container update-component">
  <form #employeForm="ngForm" (ngSubmit)="submit(employeForm)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" required #name="ngModel" id="name"
        [value]="employeeData?.name" [(ngModel)]="updateEmployee.name">
      <div *ngIf="name.errors && ( name.touched || name.invalid)">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched" *ngIf="name.errors.required">
          {{nameIsRequired}}
        </small>
      </div>

      <br>
      <label>Position</label>
      <input type="text" class="form-control" name="position" id="position" required #position="ngModel"
        [value]="employeeData?.position" [(ngModel)]="updateEmployee.position">
      <div *ngIf="position.errors && ( position.touched || position.invalid)">
        <small class="text-danger" [class.d-none]="position.valid || position.untouched"
          *ngIf="position.errors.required">
          {{positionIsRequired}}
        </small>
      </div>
      <br>
      <label>Address</label>
      <input type="text" class="form-control" name="address" id="address" required #address="ngModel"
        [value]="employeeData?.address" [(ngModel)]="updateEmployee.address">
      <div *ngIf="address.errors && ( address.touched || address.invalid)">
        <small class="text-danger" [class.d-none]="address.valid || address.untouched" *ngIf="address.errors.required">
          {{addressIsRequired}}
        </small>
      </div>
      <br>
      <br>
      <button type=" submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>