<div class="container add-component">
  <form #employeeForm="ngForm" (ngSubmit)="submitHandler(employeeForm)">
    <div class="form-group">
    <label>Name</label>
      <input  type="text"
              class="form-control" 
              name="name" 
              required
              id="name" 
              #name="ngModel" 
              placeholder="Enter employee name"  
              [(ngModel)]="employee.name">
              <div *ngIf="name.errors && ( name.touched || name.invalid)">
                <small class="text-danger" [class.d-none]="name.valid || name.untouched" *ngIf="name.errors.required">
                 {{nameIsRequired}}
                </small>
              </div>
              </div>
      <br>
      <div class="form-group">
      <label>Position</label>
      <input type="text" 
            class="form-control" 
            name="position" 
            required
            id="position" 
            #position="ngModel" 
            placeholder="Enter employee position" 
            [(ngModel)]="employee.position" >
            <div *ngIf="position.errors && ( position.touched || position.invalid)">
              <small class="text-danger" [class.d-none]="position.valid || position.untouched" *ngIf="position.errors.required">
              {{positionIsRequired}}
              </small>
           </div>
           </div>
      <br>
      <div class="form-group">
      <label>Address</label>
      <input type="text" 
             class="form-control" 
             name="address"
             required 
             id="address" 
             #address="ngModel" 
             placeholder="Enter employee address" 
             [(ngModel)]="employee.address">
             <div *ngIf="address.errors && ( address.touched || address.invalid)">
              <small class="text-danger" [class.d-none]="address.valid || address.untouched" *ngIf="address.errors.required">
              {{addressIsRequired}}
              </small>
            </div>
      </div>
      <br>
      <br>
     <button type=" submit" class = "btn btn-success"
     [disabled]="employeeForm.form.invalid"
            [class.btn-secondary]="employeeForm.form.invalid"
     >Submit</button> 
  </form>
  </div>
  