<div class="container">
    <h1>Employee Details</h1>
      <p>Name : {{employee?.name}}</p>
      <br>
      <p>Position : {{employee?.position}}</p>
      <br>
      <p>Address : {{employee?.address}}</p>
    </div>