<div class="container login-component">

    <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" name="userName" id="userName" required #userName="ngModel"
                [(ngModel)]="login.userName">
            <!-- <div *ngIf="userName.errors && ( userName.touched || userName.invalid)">
            <small class="text-danger" [class.d-none]="userName.valid || userName.untouched" *ngIf="userName.errors.required">
             {{UserNameIsRequired}}
            </small>
         </div> -->
        </div>
        <br>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" id="password" required #password="ngModel"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="login.password">
            <div>
                <small class="text-danger" [class.d-none]="password.valid || password.untouched"
                    *ngIf="password.errors?.pattern">
                    {{passwordPattern}}
                </small>
            </div>
            <!-- <div *ngIf="password.errors && ( password.touched || password.invalid)">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched" *ngIf="password.errors.required">
             {{passwordIsRequired}}
            </small>
         </div> -->
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-success" [disabled]="loginForm.form.invalid"
            [class.btn-secondary]="loginForm.form.invalid">Login</button>
    </form>

</div>