<h1>Employee List</h1>
<div class= "container" >
    <table class="table" border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Address</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Get Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employeeListResponse">
              <td></td>
              <td>{{employee.name}}</td>
              <td>{{employee.position}}</td>
              <td>{{employee.address}}</td>
              <td><button (click)="deleteEmployee(employee.id)" style = "background-color: blueviolet;">Delete</button></td>
             <td> <a [routerLink]="['/employee/update/', employee.id]"><button  style = "background-color: crimson;">Update</button></a></td>
             <td> <a [routerLink]="['/employee/details/', employee.id]"><button   style = "background-color: yellowgreen;">Details</button></a></td>
            </tr>
            </tbody>
    </table>
    <router-outlet></router-outlet>
</div>